<div class="container">
    <h4 class="text-center">Sign Up</h4>
    <div class="mb-3">
        <label  class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" >
    </div>
    <div class="mb-3 mt-5">
        <label  class="form-label ">Password</label>
        <input type="password" class="form-control" id="password" >
    </div>
    <div class="form-group mt-5">
        <label >User Type</label>
        <select class="form-control" id="usertype">
          <option>Maker</option>
          <option>Receiver</option>
        </select>
      </div>
    <div class="mb-3">
        <label  class="form-label mt-5">Department</label>
        <input type="text" class="form-control" id="Department" >
    </div>
    <button class="btn btn-sm btn-primary mt-5 ml-10">Sign Up</button>
</div>